<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../Css/Navigation.css" type="text/css">
    <link rel="stylesheet" href="../Css/IDelicious.css" type="text/css">
    <link rel="stylesheet" href="../Css/SelectControl.css" type="text/css">
</head>
<body>
    <div class="css_main">
        <div class="css_top">
            <div class="css_top_left">
                <span>美位生活 & meiwei life</span><br>
                <span>App 管理操作后台</span>
            </div>
            <div class="css_top_right">
                <span style="Float:right">欢迎！Lain</span><br>
                <span style="Float:right">2015.02.08 09:35 AM</span>
            </div>
        </div>
        <div class="css_body">
            <div class="css_navigation">
                <div class="css_navigationItem">
                    <ul>商 户 添 加</ul>
                    <li ><span class="css_active"> > </span><a class="css_active" href="IDelicious.html">爱 美 味</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="EnjoyLife.html">乐 生 活</a></li>
                </div>
                <div class="css_navigationItem">
                    <ul><a href="BusinessInformation.html">商 户 信 息</a></ul>
                </div>
                <div class="css_navigationItem">
                    <ul>分 类 管 理</ul>
                    <li><span class="css_inActive">&#12288</span><a href="AppCategory.html">APP 类 目</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="SceneClassification.html">场 景 分 类</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="AreaClassificationOne.html">区 域 分 类</a></li>
                </div>
                <div class="css_navigationItem">
                    <ul><a href="UserInfo.html">用 户 信 息</a></ul>
                </div>
                <div class="css_navigationItem">
                    <ul>服 务 设 置</ul>
                    <li><span class="css_inActive">&#12288</span><a href="ServicesModification.html">服 务 修 改</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="CouponsGeneration.html">折 扣 券 生 成</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="CouponsStatus.html">折 扣 券 状 态</a></li>
                </div>
                <div class="css_navigationItem">
                    <ul>广 告 设 置</ul>
                    <li><span class="css_inActive">&#12288</span><a href="AdSetting.html">广 告 设 置</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="AddEvents.html">添 加 活 动</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="EventsList.html">活 动 列 表</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="TransactionList.html">成 交 列 表</a></li>
                </div>
                <div class="css_navigationItem">
                    <ul>文 章 管 理</ul>
                    <li><span class="css_inActive">&#12288</span><a href="ArticleList.html">文 章 列 表</a></li>
                    <li><span class="css_inActive">&#12288</span><a href="AddArticle.html">添 加 文 章</a></li>
                </div>
                <div class="css_navigationItem">
                    <ul><a href="DataExport.html">数 据 管 理</a></ul>
                </div>
            </div>
            <div class="css_content">
                <div class="css_content_title">
                    <div class="css_content_title_item">
                        <div class="css_content_title_action">爱美味_商户创建</div>
                        <div class="css_content_title_id">商户 ID：9876543210</div>
                    </div>
                    <div class="css_content_title_button">
                        <input class="css_button css_button_reFill" type="button" value="重填" />
                        <input class="css_button css_button_release" type="button" value="发布" />
                    </div>
                </div>
                <div class="css_content_basicInfo">
                    <ul class="css_content_basicInfo_title">基本信息</ul>
                        <li class="css_content_basicInfo_item" style="padding-top:5px;">
                            <div class="css_content_basicInfo_item_name">商户名称</div>
                            <div class="css_content_basicInfo_item_content" ></div>
                        </li>
                    <li class="css_content_basicInfo_item">
                        <div class="css_content_basicInfo_item_name">联系地址</div>
                        <div class="css_content_basicInfo_item_content" ></div>
                    </li>
                    <li class="css_content_basicInfo_item">
                        <div class="css_content_basicInfo_item_name">联系电话</div>
                        <div class="css_content_basicInfo_item_content" ></div>
                    </li>
                    <li class="css_content_basicInfo_item">
                        <div class="css_content_basicInfo_item_name">营业时间</div>
                        <div class="css_content_basicInfo_item_content" ></div>
                    </li>
                    <li class="css_content_basicInfo_item">
                        <div class="css_content_basicInfo_item_name" style="border-bottom: none">人均消费</div>
                        <div class="css_content_basicInfo_item_content" style="border-bottom: none"></div>
                    </li>
                </div>
                <div class="css_content_group">
                    <div class="css_content_group_selectItems">
                        <div class="css_content_group_selectItem">
                            <img class = "css_content_group_selectItem_img" src="../Img/Img_first.png" alt="" />
                            <div class="cate" style="float:left;">
                                <div class="cate_wrp">
                                    <div class="cate_inp cate_tri">主营菜系</div>
                                    <a href="###" class="cate_tri"></a>        </div>
                                    <div class="cate_drop" style="display:none">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                        </ul>
                                </div>
                            </div>
                            <div class="cate">
                                <div class="cate_wrp">
                                    <div class="cate_inp cate_tri">选择菜系</div>
                                    <a href="###" class="cate_tri"></a>        </div>
                                <div class="cate_drop" style="display:none">
                                    <ul>
                                        <li>焦点图特效</li>
                                        <li>菜单导航</li>
                                        <li>flash素材</li>
                                        <li>jquery特效</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="css_content_group_selectItem_blank"></div>
                        <div class="css_content_group_selectItem">
                            <img class = "css_content_group_selectItem_img" src="../Img/Img_second.png" alt="" />
                            <div class="cate" style="float:left;">
                                <div class="cate_wrp">
                                    <div class="cate_inp cate_tri">环境氛围</div>
                                    <a href="###" class="cate_tri"></a>        </div>
                                <div class="cate_drop" style="display:none">
                                    <ul>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cate">
                                <div class="cate_wrp">
                                    <div class="cate_inp cate_tri">选择类目</div>
                                    <a href="###" class="cate_tri"></a>        </div>
                                <div class="cate_drop" style="display:none">
                                    <ul>
                                        <li>焦点图特效</li>
                                        <li>菜单导航</li>
                                        <li>flash素材</li>
                                        <li>jquery特效</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="css_content_group_selectItem_blank"></div>
                        <div class="css_content_group_selectItem">
                        <img class = "css_content_group_selectItem_img" src="../Img/Img_third.png" alt="" />
                        <div class="cate" style="float:left;">
                            <div class="cate_wrp">
                                <div class="cate_inp cate_tri">选择地区</div>
                                <a href="###" class="cate_tri"></a>        </div>
                            <div class="cate_drop" style="display:none">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cate">
                            <div class="cate_wrp">
                                <div class="cate_inp cate_tri">选择地标</div>
                                <a href="###" class="cate_tri"></a>        </div>
                            <div class="cate_drop" style="display:none">
                                <ul>
                                    <li>焦点图特效</li>
                                    <li>菜单导航</li>
                                    <li>flash素材</li>
                                    <li>jquery特效</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <div class="css_content_group_selectItem_blank"></div>
                        <div class="css_content_group_selectItem">
                        <img class = "css_content_group_selectItem_img" src="../Img/Img_four.png" alt="" />
                        <div class="cate" style="float:left;">
                            <div class="cate_wrp">
                                <div class="cate_inp cate_tri">停车信息</div>
                                <a href="###" class="cate_tri"></a>        </div>
                            <div class="cate_drop" style="display:none">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cate">
                            <div class="cate_wrp">
                                <div class="cate_inp cate_tri">是/否</div>
                                <a href="###" class="cate_tri"></a>        </div>
                            <div class="cate_drop" style="display:none">
                                <ul>
                                    <li>焦点图特效</li>
                                    <li>菜单导航</li>
                                    <li>flash素材</li>
                                    <li>jquery特效</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <div class="css_content_group_selectItem_blank"></div>
                        <div class="css_content_group_selectItem">
                        <img class = "css_content_group_selectItem_img" src="../Img/Img_five.png" alt="" />
                        <div class="cate" style="float:left;">
                            <div class="cate_wrp">
                                <div class="cate_inp cate_tri">不等位服务</div>
                                <a href="###" class="cate_tri"></a>        </div>
                            <div class="cate_drop" style="display:none">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cate">
                            <div class="cate_wrp">
                                <div class="cate_inp cate_tri">是/否</div>
                                <a href="###" class="cate_tri"></a>        </div>
                            <div class="cate_drop" style="display:none">
                                <ul>
                                    <li>焦点图特效</li>
                                    <li>菜单导航</li>
                                    <li>flash素材</li>
                                    <li>jquery特效</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="css_content_group_point">
                        <div class="css_content_group_point_name">餐厅亮点</div>
                        <div class="css_content_group_point_area">
                            <textarea class="css_content_group_point_area"></textarea>
                        </div>
                    </div>
                </div>
                <div class="css_content_pictures">
                    <div class="css_content_pictures_name">商户图片</div>
                    <div class="css_content_pictures_discription">上传图片最大单张不能超过5MB，只支持 jpg/png,可支持多张上传</div>
                    <div class="css_content_pictures_group">
                        <li><img src="../Img/Img_UpLoadButton.png"/><div>图片上传</div></li>
                        <li><img src="../Img/Img_UpLoadButton.png"/><div>图片上传</div></li>
                        <li><img src="../Img/Img_UpLoadButton.png"/><div>图片上传</div></li>
                        <li><img src="../Img/Img_UpLoadButton.png"/><div>图片上传</div></li>
                        <li><img src="../Img/Img_UpLoadButton.png"/><div>图片上传</div></li>
                    </div>
                </div>
                <div class="css_content_preferential">
                    <div class="css_content_preferential_heads">
                        <div class="css_content_preferential_first">首次优惠</div>
                        <div class="css_content_preferential_vip">VIP优惠</div>
                    </div>
                    <div class="css_content_preferential_content">
                        <div class="css_content_preferential_content_first">
                            <div class="css_content_preferential_content_first_header">首次优惠内容</div>
                            <div class="css_content_preferential_content_first_content">
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="css_content_preferential_content_vip">
                            <div class="css_content_preferential_content_vip_header">标准优惠内容</div>
                            <div class="css_content_preferential_content_vip_content">
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../JSLibrary/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../JSLibrary/SelectControl.js"></script>
</body>
</html>