<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../Css/Login.css" type="text/css" rel="stylesheet">
</head>
<body>

    <div class="css_Main" >
        <div class="css_div_title">欢 迎 来 到 美 味 生 活</div>
        <div class="css_div_actionName">请 登 录</div>
        <div class="css_div_userName">
            <input class="css_text_userName" type="text"  placeholder="用 户 名"/>
        </div>
        <div class="css_div_password">
            <input  class="css_text_password"  type="text" placeholder="密    码"/>
        </div>
        <div class="css_div_login">
            <input  class="css_button_login" type="button" value="登 录"/>
        </div>
    </div>

</body>
</html>