.css_content{
    min-height: 500px;
    width: 780px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.css_content_userTable_title{
    margin: auto;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    background-color: #969696;
}

.css_content_userTable_title_name{
    float: left;
}

.css_content_userTable_title_operations{
    float: right;
}

.css_pageUp{
    float: left;
}

.css_pages{
    float: left;
}

.css_pageDown{
    float: left;
}

table thead{
    color: #C72322;
}

table thead td{
    width: 195px;

}
table tr{
    height: 35px;
    line-height: 35px;
}

table tr td{
    text-align: center;
}